<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Product</title>
</head>
<body>
    <div>
        <h1>Product List</h1>
        <!-- <h2 th:text="${product}"></h2> -->

        <table>
            <thead>
                <tr>
                    <th>ID</th>
                    <th>NAME</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="p:${product}">
                    <td th:text="${p.id}"></td>
                    <td th:text="${p.name}"></td>
                </tr>
            </tbody>
        </table>
    </div>
    
</body>
</html>